/* CSS Document */

div#info {
	padding: 0px !important;
	width: 482px !important;
}

div#info form {
	background: #fff;
	padding: 15px !important;
	border: 1px solid #eee;
	width: 450px !important;
}

div#info form fieldset div {
	margin: 5px 0px !important;
	clear: both;
}

div#info form label {
	float: left;
	width: 100px !important;
	text-align: right;
	margin: 0px 15px 0px 0px !important;
}

div#info form fieldset {
	margin: 5px 0px !important;
	border: 1px solid #ddd;
	padding: 0px 10px 10px !important;
	font: 95%/120% Arial, Helvetica, sans-serif !important;
}

div#info form legend {
	color: #0b77b7;
	font: 120% Arial, Helvetica, sans-serif !important;
}

div#info form input {
	padding: 2.5px !important;
	width: 260px;
	border: 1px solid #ddd;
	background: #fafafa;
	font: normal 14px arial, sans-serif !important;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
}

div#info form textarea {
	padding: 2.5px !important;
	width: 260px !important;
	border: 1px solid #ddd;
	background: #fafafa;
	font: normal 14px arial, sans-serif !important;
	resize: none;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
}

div#info form input:hover, input:focus {
	border-color: #c5c5c5;
	background: #f6f6f6;
}

/* Form button */
div#info form input.btnForm {
	cursor: pointer !important;
	width: 80px !important;
	height: 29px !important;
	line-height: 25px !important;
	font-size: 12px !important;
	font-weight: bold !important;
	color: #fff !important;
	background: #3c85fe !important;
	border: 1px solid #3079ED !important;
	margin: 5px 5px 0px 0px !important;
	-moz-border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
}

/* Link Edit detail */
div#info form a.functionLink {
	color: #0b77b7;
}

div#info form a.functionLink:hover {
	color: orange;
}

/* Link Edit detail */
div#info form a#editDetail {
	float: right;
	color: #0b77b7;
	font-size: 14px;
	height: 29px !important;
	line-height: 29px !important;
}

div#info form a#editDetail:hover {
	color: orange;
}